<article id="{{ id }}" class="codeBox">
	{% block preamble %}{% endblock %}
	<textarea hidden="hidden" class="presetcode">{% block presetcode %}{% endblock %}</textarea>
	<textarea hidden="hidden" class="presetSTDIN">{% block presetSTDIN %}{% endblock %}</textarea>
	{% csrf_token %}
	Code:	<textarea class="code"></textarea>						<br/>
	STDIN:	<textarea class="STDIN"></textarea>						<br/>
	Mode:	<input class="codelang" type="text" value="{% block codelang %}{% endblock %}"/><br/>
	STDOUT:	<textarea class="STDOUT"></textarea>						<br/>
	STDERR:	<textarea class="STDERR"></textarea>						<br/>
	Retval:	<input class="retval" type="number"/>						<br/>
	<button class="submitcode">run</button>							<br/>
	<button class="resetcode">reset</button>						<br/>
	{% block postamble %}{% endblock %}
</article>
