{% extends 'client/CodeBox.html' %}

{# 1: The stuff that comes before the code container #}
{% block preamble %}
	<h2>This is Box C</h2>
{% endblock %}

{# 2: The preset code for the code container #}
{% block presetcode %}
	writeLines("Input a line of text: ")
	input = readLines(con = file("stdin"), n = 1)
	writeLines(paste0("You input: ", input))
	writeLines("Secret R text!", con = stderr())
	q(status = 11)
{% endblock %}

{# 3: The preset STDIN for the code container #}
{% block presetSTDIN %}R spike
{% endblock %}

{# 4: The code language being used #}
{% block codelang %}
	R
{% endblock %}
