<!-- templates/registration/login.html -->
{% extends 'base.html' %}


{% block content %}
<h2 class="title ">Login</h2>

	<form method="post" class="transBG" style="text-align: center;">
    	{% csrf_token %}
        {{ form.as_p }}
          <!-- <button type="submit">Login</button> -->
       	<button type="submit" class="btn btn-primary">Login</button>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
  <p>Don't have an account?<a href="/accounts/signup/"> Sign Up Here</a></p>
    </form>

{% endblock %}