<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

{% block content %}
<h2 class="title ">Login</h2>

	<form method="post" class="transBG" style="text-align: center;">
    	{% csrf_token %}
        {{ form.as_p }}
          <!-- <button type="submit">Login</button> -->
       	<button type="submit" class="btn btn-primary">Login</button>
  <p><a href="{% url 'password_reset' %}">reset password</a></p>
  <p>Don't have an account?<a href="/accounts/signup/"> Sign Up Here</a></p>
    </form>

{% endblock %}
