{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

{% comment %}
	Template 'CodeBox.html':
		Environment Variables:
			id: The HTML id associated with this editor
		Blocks:
			preamble: HTML associated with the editor that comes before everything else
			presetcode: Code loaded into the editor when the page loads
			presetSTDIN: STDIN loaded into the editor when the page loads
			codelang: The programming language to be used
			postamble: HTML associated with the editor that comes after everything else
		Notes:
			Since the CSRF token is rendered here, it needn't be rendered in the including file (though it wouldn't cause anything bad to happen if it was).
{% endcomment %}
<article id="{{ id }}" class="codeBox">
	{% block preamble %}{% endblock %}
	<textarea hidden="hidden" class="presetcode">{% block presetcode %}{% endblock %}</textarea>
	<textarea hidden="hidden" class="presetSTDIN">{% block presetSTDIN %}{% endblock %}</textarea>
	{% csrf_token %}
	Code:	<textarea class="code"></textarea>						<br/>
	STDIN:	<textarea class="STDIN"></textarea>						<br/>
	Mode:	<input class="codelang" type="text" value="{% block codelang %}{% endblock %}"/><br/>
	STDOUT:	<textarea class="STDOUT"></textarea>						<br/>
	STDERR:	<textarea class="STDERR"></textarea>						<br/>
	Retval:	<input class="retval" type="number"/>						<br/>
	<button class="submitcode">run</button>							<br/>
	<button class="resetcode">reset</button>						<br/>
	{% block postamble %}{% endblock %}
</article>
