{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

<!DOCTYPE html>

{% url 'spikes:CSRFSpike' as hereurl %}

<html>
	<body>
		<form action="{{ hereurl }}" method="POST">
			{% csrf_token %}
			{% csrf_token %}
			<input type="submit">Click me 1!</input>
			{% csrf_token %}
			{% csrf_token %}
		</form>
		<form action="{{ hereurl }}" method="POST">
			{% csrf_token %}
			{% csrf_token %}
			<input type="submit">Click me 2!</input>
			{% csrf_token %}
			{% csrf_token %}
		</form>
	</body>
</html>
