{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

<!doctype HTML>
{% load static %}

{% url 'spikes:editorRequest' as hereURL %}

<html>
	<head>
		<title>WMU: Coding Tutorial</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'codemirror/doc/docs.css' %}">
		<link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
		<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
		<script src="{% static 'codemirror/mode/clike/clike.js' %}"></script>
		<style>
		.CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
		</style>

		<script>
		window.onload = function() {
			editor = CodeMirror(document.getElementById("code"), {
				mode: "clike",
				extraKeys: {"Ctrl-Space": "autocomplete"},
				value: "#include <stdio.h> \n\nvoid main(int argc, char * argv[]) { \n\n\n\tprintf(\"Hello World!\");\n\n\n}"
			});
		};
		function showCode(){
			var text = editor.getValue();
			alert(text);
		}
		function setCode(){
			document.getElementById('key').value = editor.getValue();
		}
		</script>
		
	</head>
	<body>
		<div id="nav">
		<a href="https://codemirror.net"><h1>Coding Tutorials</h1><img id="logo" src="{% static 'images/wsmall.jpg' %}"></a>
			<ul>
				<li><a href="{% static 'codemirror/index.html' %}">Home</a></li>
				<li><a href="{% static 'codemirror/doc/manual.html' %}">Manual</a></li>
				<li><a href="https://github.com/codemirror/codemirror">Code</a></li>
			</ul>
			<ul>
				<li><a class="active" href="#">CS4910</a></li>
			</ul>
		</div>
		<article>
			<h2>Tutorial Title</h2>
			<p>Insert the neccesary code to print "hello world"</p>
			<div type='text' id="code"></div>
			<form action='{{ hereURL }}' method='POST'>{% csrf_token %}
				<input id='key' type='hidden' name='key' value=''/>
				<input type='submit' value='save' onclick= 'setCode()'/>
			</form>
			<p>Code via POST: {{ last }}</p>
		</article>
	</body>
</html>
