<!doctype HTML>
{% load static %}
<html>
	<head>
		<title>WMU: Coding Tutorial</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static "codemirror/doc/docs.css" %}">
		<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
		<script src='{% static "codemirror/lib/codemirror.js" %}'></script>
		<script src='{% static "codemirror/mode/clike/clike.js" %}'></script>
		<script src='{% static "docker/codeClient.js" %}' type='text/javascript'></script>
		<style>
			.CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
		</style>
	</head>
	<body>
		<div id="nav">
			<a href="https://codemirror.net"><h1>Coding Tutorials</h1><img id="logo" src="{% static "images/wsmall.jpg" %}"></a>
			<ul>
				<li><a href="{% static "codemirror/index.html" %}">Home</a></li>
				<li><a href="{% static "codemirror/doc/manual.html" %}">Manual</a></li>
				<li><a href="https://github.com/codemirror/codemirror">Code</a></li>
			</ul>
			<ul>
				<li><a class="active" href="#">CS4910</a></li>
			</ul>
		</div>
		<article id='codecontainer'>
			<h2>Tutorial Title</h2>
			<p>Insert the neccesary code to print "hello world"</p>
			<textarea hidden="hidden" class="presetcode">
				#include <stdio.h>
				
				int main(int argc, char * argv[]) {
					int input;
					scanf("%d", &input);
					printf("Hello World!\n");
					fprintf(stderr, "You input: %d\n", input);
					return 123;
				}
			</textarea>
			<textarea hidden="hidden" class="presetSTDIN">
				98767
			</textarea>
			{% include 'CodeRunner.html' with defaultlang='C' %}
		</article>
	</body>
</html>


<script>
window.onload = function() {
	codecontainer = document.getElementById('codecontainer');
	runner = new CodeRunner('{% url "docker:runPOST" %}', 'codecontainer');
	
	editor = CodeMirror.fromTextArea(codecontainer.querySelector(".code"), {
		mode: "clike",
		extraKeys: {"Ctrl-Space": "autocomplete"},
	});
	
	runner.registerReset(function(){
		editor.setValue(CodeRunner.cleancode(runner.pcode));
	});
	runner.preset();
	
	runner.registerFormSend(function(){
		editor.save();
		codecontainer.querySelector(".STDOUT").value = "Processing...";
		return;
	});
};
</script>
