{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

<!DOCTYPE html>

{% url 'formPush' as hereURL %}

<html>
	<head>
		<script>
			function registerSetURL(URL, P, G){
				URL.addEventListener("change", function(){
					P.action = URL.value;
					G.action = URL.value;
				});
			}
			
			window.onload = function(){
				var URL = document.getElementById("URL");
				var P = document.getElementById("P");
				var G = document.getElementById("G");
				registerSetURL(URL, P, G);
			}
		</script>
	</head>
	<body>
		URL: <input id='URL' type='text' name='url' value='{{ hereURL }}'>
		<form id='P' action='{{ hereURL }}' method='POST'>{% csrf_token %}
			POST: <input type='text' name='key' value=''/>
			<input type='submit' value='submit'/>
		</form>
		<form id='G' action='{{ hereURL }}' method='GET'>
			GET: <input type='text' name='key' value=''/>
			<input type='submit' value='submit'/>
		</form>
	</body>
</html>
