<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<script src="{% static 'docker/codeClient.js' %}" type='text/javascript'></script>
		<script>
			window.onload = function(){
				var basicform = new CodeRunner("{% url 'docker:runPOST' %}", "#testregion");
				basicform.registerFormSend();
			}
		</script>
	</head>
	<body>
		<div id='testregion'>
			{% csrf_token %}
			code:	<textarea class='code'></textarea>		<br/>
			STDIN:	<textarea class='STDIN'></textarea>		<br/>
			mode:	<input class='language' type='text' value='python'/><br/>
			<button class='submitcode'>submit</button>		<br/>
										<br/>
			STDOUT:	<textarea class='STDOUT'></textarea>		<br/>
			STDERR:	<textarea class='STDERR'></textarea>		<br/>
			retval:	<input class='retval' type='number'/>		<br/>
		</div>
	</body>
</html>
