{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

<!DOCTYPE html>

{% load static %}

<html>
	<head>
		<script src="{% static 'docker/codeClient.js' %}" type="text/javascript"></script> <!-- This file reference must be adjusted to restore functionality -->
		<script>
			window.onload = function(){
				basicform = new CodeRunner("{% url 'docker:runPOST' %}", "testregion", {{ timeout }});
				basicform.registerFormSend(function(){ //This call must be adjusted to restore functionality
					document.querySelector("#testregion .STDOUT").value = "Processing...";
					return;
				});
				basicform.registerReset();
				basicform.preset();
			}
		</script>
	</head>
	<body>
		<div id="testregion">
			<textarea hidden="hidden" class="presetcode">
				import sys
				
				def main():
					s = input()
					print("Hello, world!")
					sys.stderr.write("You input: %s" % (s))
					sys.exit(123)
				
				main()
			</textarea>
			<textarea hidden="hidden" class="presetSTDIN">
				kwue4hnvr5ktunhw4oieurj
			</textarea>
			{% include 'CodeRunner.html' with defaultlang='python' %} <!-- This file reference must be adjusted to restore functionality -->
		</div>
	</body>
</html>
