{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

<!doctype HTML>
{% load static %}
<html>
	<head>
		<title>WMU: Coding Tutorial</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static "codemirror/doc/docs.css" %}">
		<link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
		<script src='{% static "codemirror/lib/codemirror.js" %}'></script>
		<script src='{% static "codemirror/mode/html/html.js" %}'></script>
		<style>
			.CodeMirror {border-top: 1px solid #888; border-bottom: 1px solid #888;}
		</style>
	</head>
	<body>
		<div id="nav">
			<a href="https://codemirror.net"><h1>Coding Tutorials</h1><img id="logo" src="{% static "images/wsmall.jpg" %}"></a>
			<ul>
				<li><a href="{% static "codemirror/index.html" %}">Home</a></li>

			</ul>
			<ul>
				<li><a class="active" href="#">CS4910</a></li>
			</ul>
		</div>
		<article id='codecontainer'>

			<h2>Quiz Upload</h2>
			<p>Insert the html code for the your page below.</p>
				<form action='{{ hereURL }}' method='POST'> {% csrf_token %}
					<div type='text' id='code'></div>
					<input id='key' type='hidden' name='key' value=''/>
					Page Name:	<textarea id='pageName' name='pageName'></textarea>				<br/>
					<input type='submit' value='save' onclick= 'setCode()'/><br/>
				</form>
		</article>
	</body>
</html>


<script>
	window.onload = function() {
		editor = CodeMirror(document.getElementById("code"), {
			mode: "html",
			extraKeys: {"Ctrl-Space": "autocomplete"},
			value: "Paste html code here"
		});
	};
	function showCode(){
		var text = document.getElementById('pageName');
		alert(text);
	}
	function setCode(){
		document.getElementById('key').value = editor.getValue();

	}
</script>
