{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}


<h1 class="title">Code Tutorials</h1>

<!-- <div class="transBG container codemirror"> -->
	<div class="row">
   <div class="container transBG2 codemirror">
     <div class="col-lg-12">
       <form action="">
         <div class="form-group">
           <label form="">Code Corral</label>
           <textarea name="" id="editor" rows="10" class="form-control"></textarea>
         </div>

         <button type="submit" class="btn btn-primary btn-lg">Run</button>

       </form>
     </div>
   </div> 
  </div>


{% else %}
  <p style="color:white">You are not logged in  <a href="{% url 'login' %}">login</a></p>
{% endif %}

<!-- </div> -->

{% endblock %}