{% extends 'base.html' %}


{% block content %}
{% if user.is_authenticated %}


<!-- <h1 class="title">Code Tutorials</h1> -->

	<div class="row">
  <div class="container transBG2 codemirror">
     <div class="col-lg-12">
        <form action="">
          <div class="form-group">
            <div class="w3-round-xlarge w3-container w3-black w3-center w3-allerta">
             <label form="" class="w3-xxlarge">Code Tutorials</label>
            </div>
            
            <div>
              <textarea name="" id="editor" rows="10" class="form-control"></textarea>
            </div>
            
            <div class="resultBox">
              <textarea id="result" rows="10" class="form-control"></textarea>
            </div>
            
            <div class="runBtn">
              <button onclick="submit_html();" type="submit" class="btn btn-basic btn-lg runBtn">Run</button>
            </div>
          </div>
        </form>
     </div>
  </div> <!-- End container transBG2 codemirror --> 
  </div><!-- End row -->


{% else %}
  <p style="color:white">You are not logged in  <a href="{% url 'login' %}">login</a></p>
{% endif %}


{% endblock %}