{% extends 'base.html' %}

{% comment "COPYRIGHT INFO" %}
<!-- BEGIN COPYRIGHT NOTICE

Copyright 2019 Stephen Fedele <stephen.m.fedele@wmich.edu>, Daniel Darcy, Timothy Curry

This file is part of CodeTutorials.

CodeTutorials is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

CodeTutorials is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CodeTutorials.  If not, see <https://www.gnu.org/licenses/>.

END COPYRIGHT NOTICE -->
{% endcomment %}

{% block content %}
{% if user.is_authenticated %}


<h1 class="title">Code Tutorials</h1>

<!-- <div class="transBG container codemirror"> -->
	<div class="row">
   <div class="container transBG2 codemirror">
     <div class="col-lg-12">
       <form action="">
         <div class="form-group">
          <div class="w3-round-xlarge w3-container w3-black w3-center w3-allerta">
           <label form="" class="w3-xxlarge">Code Tutorials</label>
          </div>
          
          <div>
            <textarea name="" id="editor" rows="10" class="form-control"></textarea>
            </div>
            <div>
            <iframe id="result" style="padding: 1px; top:0; width:100%;height:100%;"></iframe>
            </div>
          <div class="runBtn">
            <button onclick="submit_html();" type="submit" class="btn btn-basic btn-lg runBtn">Run</button>
          </div>
          
        </div>
       </form>
     </div>
   </div> 
  </div>


{% else %}
  <p style="color:white">You are not logged in  <a href="{% url 'login' %}">login</a></p>
{% endif %}

<!-- </div> -->

{% endblock %}
