{% load static %}


<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
<div class="container-fluid">
<a href="#" class="navbar-left"><img style="width: 50px; height: 50px; "alt="logo" src="{% static 'img/Western_Michigan_University_seal.png' %}"/></a>

<button class="navbar-toggler btn btn-dark visible-xs-block pull-right" type="button" style="float: right; margin: 2% 0% 2% 0%;" data-toggle="collapse" data-target="#navbarNav">
	<span class="glyphicon glyphicon-menu-hamburger"></span>
</button>
	<div class="collapse navbar-collapse navbar-right" id="navbarNav">
		<!-- <div class="navbar-header col-sm-8"></div> -->
	<ul class="nav navbar-nav mr-auto">
	    <li class="nav-item"><a style="pointer-events: none;cursor: default;">Sign in:</a></li>
	    {% if user.is_authenticated %}
	    		<!-- <li><a href="/home/" class="header-link">Home</a></li> -->
		<li class="nav-item"><a class="nav-link header-link" href="/main/">Main</a></li>
		<li class="nav-item"><a class="nav-link header-link" href="/codecorral/">Learn</a></li>
		<li class="nav-item"><a class="nav-link header-link" href="/index/">Index</a></li>
	    <li class="nav-item"><a class="nav-link header-link" href="{% url 'logout' %}">logout</a></li>
		
	    {% else %}
	    <li class="nav-item"><a href="/accounts/login/" class="nav-link header-link">WMU login</a></li>
		{% endif %}


	</ul>
	</div>
</div>
</nav>